@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$color-light: #fff;
$color-black: #000;
$color-gray: #cfcfcf;
$color-gray-light: #f6f6f6;
$color-purple: #50227d;
$color-cyna: #91f1c3;
$purple: rgb(81, 53, 255);
$color-dark: #121212;
$color-info: #3498db;
$color-success: #07bc0c;
$color-warning: #f1c40f;
$color-error: #e74c3c;
$font-family: sans-serif;
$text-color-light: #757575;
$spinner-color: #616161;
$spinner-color-empty-area: #e0e0e0;
$color-progress-light: linear-gradient(90deg,#4cd964,#5ac8fa,#007aff,#34aadc,#5856d6,#ff2d55);
$color-progress-dark: #bb86fc;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

button {
    background-color: $purple;
    border: none;
    padding: 15px 30px;
    color: $color-light;
    font-size: 1em;
}

nav {
    background-color: $color-dark;
    background-image: url('https://www.cinnamon.agency/images/noise.png');
    color: $color-light;
    position: fixed;
    width: 100vw;

    .nav-bar {
      max-width: 1168px;
      height: 80px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      align-items: center;

      a {
        text-decoration: none;
        color: $color-light;
        font-size: 1.5em;
        font-weight: 700;
      }

      ul {
        display: flex;
        align-items: center;

        li {
            list-style: none;
            font-weight: 600;
            margin-left: 2em;
          }
      }

      .play {
        width: 50px;
      }
    }
}

nav.scrolled {
    background-color: $color-light;
    background-image: none;
    color: $color-black;

    a {
        color: $color-black;
    }
}

.container {
    max-width: 1168px;
    margin: 0 auto;
}

header {
    background-color: $color-dark;
    background-image: url('https://www.cinnamon.agency/images/noise.png');
    color: $color-light;
    display: flex;
    flex-direction: column;
    padding-top: 190px;
    min-height: 790px;


    h1 {
        font-size: 4.5em;
        font-weight: 900;
        line-height: 1.4;
    }

    .header-p {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        min-height: 244px;

        .see-p {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
              font-weight: 500;
              font-size: 20px;
              max-width: 670px;
              line-height: 1.8;
              color: $color-gray;
            }

            a {
                align-self: flex-start;
                left: -30px;
                text-decoration: none;
                color: $color-light;
                transform-origin: 50px 50px;
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
            }
        }

        .header-img {
            background-color: $color-black;
            width: 164px;
            height: 164px;
            border-radius: 50%;
            box-shadow: 0 3px 30px -10px $purple;
            display: flex;
            align-self: flex-end;

            img {
                width: 164px;
                height: 151px;
            }
        }
    }
}

.work {
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
    }

    .work-background {
        display: flex;
        flex-direction: column;
        margin: 200px auto;
        max-width: 1120px;
        height: 517px;

        .h6-title {
            display: flex;
            gap: 30px;
        }

        h6 {
            margin-top: 40px;
        }

        h2 {
            font-size: 2.3em;
            width: 500px;
            line-height: 1.3;
            margin-top: 20px;
        }

        p {
            margin-top: 20px;
            width: 65%;
            line-height: 1.6;
            font-weight: 500;
        }
    }

    .yellow-background {
        background-color: $color-warning;
    }

    .cyna-background {
        background-color: $color-cyna;
    }

    .purple-background {
        background-color: $color-purple;
    }
}


.our-services {
    background-color: $color-dark;
    background-image: url('https://www.cinnamon.agency/images/noise.png');
    color: $color-light;
    margin-top: 180px;

    .services-div {
        display: flex;
        max-width: 1120px;
        margin: 180px auto 0 auto;
        padding: 180px 0;
        gap: 100px;

        h2 {
            font-size: 3em;
            font-weight: 800;
            width: 352px;
            line-height: 1.3;
            margin-top: 20px;
        }

        img {
            max-width: 48px;
        }

        .product-column {
            display: flex;
            flex-direction: column;
            gap: 100px;
            max-width: 265px;
            margin-top: 20px;

            h3 {
                margin-top: 25px;
            }

            p {
                margin-top: 25px;
                color: $color-gray;
            }

            button {
                width: fit-content;
                padding: 18px 40px;
            }
        }
    }
}

.agile-team {
    background-color: $color-gray-light;
    background-image: url('https://www.cinnamon.agency/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fagile-team-on-demand.fde9cd9c.png&w=750&q=75');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    height: 512px;

    .agile-div {
        display: flex;
        width: 1120px;
        height: 100%;
        gap: 270px;
        align-items: center;
        margin: 0 auto;

        h2 {
            font-size: 3em;
            font-weight: 800;
            line-height: 1.4;
            width: 300px;
        }
    
        p {
            width: 352px;
            margin-bottom: 30px;
            line-height: 1.7;
            margin-top: 60px;
        }
    }
}

.their-team {
    background-image: url('');
}

.growing {
    background-color: $color-black;
    color: $color-light;
}

.stay {
    img {
        max-width: 517px;
    }
}

footer {
    background-color: $color-dark;
    background-image: url('https://www.cinnamon.agency/images/noise.png');
    color: $color-light;
}